html{
    background-image:url('/static/image/p0098_l.png');
    background-size: 100% 60%, 100% 40%;
    background-position: top, bottom;
    height: 390vh;
    width: 100%;
    font-family: "Yomogi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#charactor{
    margin-bottom: 50px;
    display: flex;
    #sd_charactor{
        width: 400px;
    }
    #comment{
        position: relative;
        margin-top: -190px;
        margin-left: 110px;
    }
}