body {
    background-image: url('/static/image/note.png'); 
    background-size: 100%; 
    height: 100vh; 
    width: 100vw;
}
.top{
    display: flex;
}
.top h1{
    text-align: center;
    padding-top: 180px;
    padding-left: 100px;
}
.top img{
    width: 8%;
    height: 8%;
}
.usimg {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
    position: absolute;
    top: 10px;
    right: 10px; 
    border: 2px solid #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    margin-right: 70%;
    margin-top: 20%;
}

.my_page{
    margin-top: 12%;
    margin-left: 50%;

}

footer{
    padding-right: 180px;
    margin-top: -30px;
    text-align: center;
}