body {
    background-image: url('/static/image/note.png'); 
    background-size: 100%; 
    height: 100vh; 
    width: 100vw;
}
.top{
    display: flex;
}
.top h1{
    text-align: center;
    padding-top: 11%;
    padding-left: 30%;
    font-size: 50px;
}
.top img{
    width: 8%;
    height: 8%;
    padding-top: 180px;
    padding-left: 30px;
}

.usimg {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
    position: absolute;
    top: 10px;
    right: 10px; 
    border: 2px solid #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    margin-right: 60%;
    margin-top: 23%;
}
.my_page{
    padding-bottom: 50px;
}

.my_page p{
    font-size: 40px;
    padding-left: 50%;
    text-decoration: underline;
}
.aisya {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 30px;
}
.aisya label{
    font-size: 35px;
}
.aisya img{
    width: 105%;
    height: auto;
}
.aisya textarea{
    width: 50%;
}
.kininaru p{
    padding-left: 28%;
    font-size: 40px;
}
.kininaru li{
    list-style: none;
}
.kininaru li img{
    padding-left: 15%;
    width: auto;
    height: 50%;
}
.car{
    display: flex;
    flex-flow: row nowrap;
    padding-left: 20%;
}