body {
    background-image: url('/static/image/note.png'); 
    background-size: 100% 200%;
    background-position: top; 
    background-repeat: no-repeat;  /* 确保图片不会重复 */
    background-attachment: fixed;  /* 背景固定，不随滚动 */
    height: 100%;
    width: 100%;
}

h2 {
    width: 30vw;
    margin: 20px auto;
    text-align: center;
}
.car-list{
    width:100vw ;
    height: 100vh;
    
    
}
.car-item {
    padding-left: 20%;
    display: flex; 
    align-items: center; 
    gap: 20px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1.5px solid rgb(0, 0, 0);
}
.car_img {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-out, object-position 0.1s ease-out;
}

/* 悬停时8放大更多 */
.car_img:hover {
    transform: scale(0.5); /* 放大2倍 */
}



.car_message {
    padding-left: 15%;
    width: 20vw;
    height: auto;  
}

.car_message p {
    border-bottom: 1.5px solid rgb(0, 0, 0);
}

.return {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.return>img {
    margin-left: 50%;
    margin-top: 83%;
    height: 10%;
    width: 6%;
    cursor: pointer;
}

footer {

    text-align: center;
    margin-right: 45%;
    margin-top: 80rem;
}
