<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Carpling{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    
    {% block head %}
    
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html">
                <img src="{{ url_for('static', filename='image/LOGO.png') }}" alt="Logo">
                </a>
            </div>

            <input type="text" placeholder="車名で検索" id="simpleTextbox">
<div class="login">
    {% if session.get('userimg') %}
    <div class="user-menu">
        <p class="usname">{{ session['usname'] }}</p>
        <div class="avatar-container">
            <img src="{{ session['userimg'] }}" class="userimg" id="userAvatar">
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="{{ url_for('logout') }}" class="logout">ログアウト</a>
                <a href="{{ url_for('mypage') }}" class="mypage">マイページ</a>
            </div>
        </div>
    </div>
    
    {% else %}
        <a href="{{ url_for('login') }}" class="login-link">ログイン</a>
    {% endif %}
</div>

        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>&copy; sk14 carpling</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    
    </body>
    </html>
    

</body>
</html>


