<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クルマってなんだ？</title>
</head>
<body>
    <header>
        <h1>クルマってなんだ？</h1>
    </header>

    <div>
        <h2></h2>
        <p>
            あなたが考えるクルマ……自動車とは、いったい何ですか？
            便利な移動手段？趣味？それとも仕事道具？
            クルマに関する考えや想いは、十人十色。正解はありません。
            もし、その想いに応えられる車両があったとしたら？
            もし、それによって生活が豊かになるとしたら？
        </p>
    </div>
</body>
</html>