{% extends "base.html" %}

{% block title %} Cars {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    <div class="cars-image">
        <div class="cars-text">
        </div>
    </div>

    <div class="cars-image2">
        <div class="cars-text2">
            <h2>このサイトについて</h2>
            <p>このサイトは、車を探したいすべての人に向けた「自動車マッチングサービス」です。</p><br>
            <p>初めて車を買う人から、ライフスタイルに合わせて車を買い替える人まで。あらゆるニーズに対応しています。</p><br>
            <p>正直車ってよくわかりませんよね？メーカーサイトを見ても本当に自分に合ってるのか分からないし、ディーラーに行って話を聞くのもめんどくさいし、そんな時間もない……。というかメーカーすらまだ決まってないよ！なんていう人もいらっしゃると思います。</p><br>
            <p>ご安心ください。Carplingはそんなあなたのために、独自アルゴリズムとデータベースによる、マッチングシステムをご用意いたしました。</p>
            <p>「自分に合う車が知りたい！」という方は「マッチング」を。</p>
            <p>「とりあえず色々見てみようかな」という方は「全ての車から探す」を。</p>
            <p>私たちに、あなたにとって一番合う一台を提案させてください。</p><br>
            <p></p>
        </div>
    </div>

    <form action="/match" method="get">
        <button type="submit" id="match_button">
            <img src="../static/image/376515.png" alt="">
            <h2>今すぐマッチング！</h2>
        </button>
    </form> 
    <h2  class="bodytype_text">ボディタイプから探す</h2>
    <div class="image-container">
        <div class="image-item"><div class="item-text"><p>ミニバン</p></div></div>
        <div class="image-item"><div class="item-text"><p>キャンピングカー</p></div></div>
        <div class="image-item"><div class="item-text"><p>クーペ</p></div></div>
        <div class="image-item"><div class="item-text"><p>ハッチバック</p></div></div>
        <div class="image-item"><div class="item-text"><p>ハイブリッド</p></div></div>
        <div class="image-item"><div class="item-text"><p>軽自動車</p></div></div>
        <div class="image-item"><div class="item-text"><p>コンパクトカー</p></div></div>
        <div class="image-item"><div class="item-text"><p>オープンカー</p></div></div>
        <div class="image-item"><div class="item-text"><p>セダン</p></div></div>
        <div class="image-item"><div class="item-text"><p>ステーションワゴン</p></div></div>
        <div class="image-item"><div class="item-text"><p>SUV・クロカン</p></div></div>
        <div class="image-item"><div class="item-text"><p>トラック</p></div></div>
    </div>
{% endblock %}
