{% extends "base.html" %}

{% block title %} Cars {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    <div class="cars-image">
        <div class="cars-text">
        </div>
    </div>
    <ul id="car_list">
        <li><img src="https://img1.kakaku.k-img.com/images/productimage/ll/K0001546862.jpg" alt=""></li>
        <li><img src="https://img1.kakaku.k-img.com/images/productimage/fullscale/K0001459500.jpg" alt=""></li>
        <li><img src="https://img1.kakaku.k-img.com/images/productimage/fullscale/K0001635279.jpg" alt=""></li>
        <li><img src="https://img1.kakaku.k-img.com/images/productimage/fullscale/K0001125679.jpg" alt=""></li>
        <li><img src="https://img1.kakaku.k-img.com/images/productimage/fullscale/K0001231286.jpg" alt=""></li>
        <li><img src="https://img1.kakaku.k-img.com/images/productimage/fullscale/K0001281697.jpg" alt=""></li>
        <li><img src="https://img1.kakaku.k-img.com/images/productimage/fullscale/K0000758192.jpg" alt=""></li>
    </ul>
    <ul id="intro">
        <li  class="cars-image2">
            <div>
                <div class="cars-text2">
                    <h2>このサイトについて</h2>
                    <p>このサイトは、車を探したいすべての人に向けた「自動車マッチングサービス」です。</p><br>
                    <p>初めて車を買う人から、ライフスタイルに合わせて車を買い替える人まで。あらゆるニーズに対応しています。</p><br>
                    <p>正直車ってよくわかりませんよね？メーカーサイトを見ても本当に自分に合ってるのか分からないし、ディーラーに行って話を聞くのもめんどくさいし、そんな時間もない……。というかメーカーすらまだ決まってないよ！なんていう人もいらっしゃると思います。</p><br>
                    <p>ご安心ください。Carplingはそんなあなたのために、独自アルゴリズムとデータベースによる、マッチングシステムをご用意いたしました。</p>
                    <p>「自分に合う車が知りたい！」という方は「マッチング」を。</p>
                    <p>「とりあえず色々見てみようかな」という方は「全ての車から探す」を。</p>
                    <p>私たちに、あなたにとって一番合う一台を提案させてください。</p><br>
                    <p></p>
                </div>
            </div>
        </li>
        <li id="cars-image2-2">
            <div>
                
            </div>
        </li>
    </ul>

    <form action="/match" method="get">
        <button type="submit" id="match_button">
            <img src="../static/image/376515.png" alt="">
            <h2>今すぐマッチング！</h2>
        </button>
    </form> 
    <section id="body_type">
        <h1  class="bodytype_text">車種から探す</h1>
        <div class="image-container">
            <div class="image-item"  data-car="ミニバン"><div class="item-text"><p>ミニバン</p></div></div>
            <div class="image-item"  data-car="キャンピング"><div class="item-text"><p>キャンピングカー</p></div></div>
            <div class="image-item"  data-car="クーペ"><div class="item-text"><p>クーペ</p></div></div>
            <div class="image-item"  data-car="ハッチバック"><div class="item-text"><p>ハッチバック</p></div></div>
            <div class="image-item"  data-car="ハイブリッド"><div class="item-text"><p>ハイブリッド</p></div></div>
            <div class="image-item"  data-car="軽自動車"><div class="item-text"><p>軽自動車</p></div></div>
            <div class="image-item"  data-car="コンパクト"><div class="item-text"><p>コンパクトカー</p></div></div>
            <div class="image-item"  data-car="オープン"><div class="item-text"><p>オープンカー</p></div></div>
            <div class="image-item"  data-car="セダン"><div class="item-text"><p>セダン</p></div></div>
            <div class="image-item"  data-car="ステーションワゴン"><div class="item-text"><p>ステーションワゴン</p></div></div>
            <div class="image-item"  data-car="SUV"><div class="item-text"><p>SUV・クロカン</p></div></div>
            <div class="image-item"  data-car="トラック"><div class="item-text"><p>トラック</p></div></div>
        </div>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </section>
{% endblock %}
