{% extends "base.html" %}

{% block title %} cars {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

    <div class="cars-image">
        <div class="cars-text">
        </div>
    </div>
    <div class="cars-image2">
        <div class="cars-text2">
        </div>
    </div>
    <div class="cars-image3">
        <div class="cars-text3">
        </div>
    </div>
    <div class="cars-image4">
        <div class="cars-text4">
        </div>
    </div>
    <div class="cars-image5">
        <div class="cars-text5">
        </div>
    </div>
    <div class="cars-image6">
        <div class="cars-text6">
        </div>
    </div>
    <h2  class="bodytype_text">ボディタイプから探す</h2>
    <div class="image-container">
        
        <div class="image-item">
            <div class="item-text1">
                <p>ミニバン</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text1">
                <p>キャンピングカー</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text2">
                <p>クーペ</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text3">
                <p>ハッチバック</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text4">
                <p>ハイブリッド</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text5">
                <p>軽自動車</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text6">
                <p>コンパクトカー</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text7">
                <p>オーペンカー</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text8">
                <p>セダン</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text9">
                <p>ステーションワゴン</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text10">
                <p>SUV・クロカン</p>
            </div>
        </div>
        <div class="image-item">
            <div class="item-text11">
                <p>トラック</p>
            </div>
        </div>
    </div>

{% endblock %}
