{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-container">
        <div class="login_text">
            <h2>ログインページ</h2>
        </div>
        <p>アカウントをお持ちの方は、こちらからログイン</p>
        <form action="/loginck" method="POST" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>ユーザーID</td>
                    <td>
                        <input  class="text" name="userid" value="{{rec.userid}}">
                    </td>
                    <td>
                        <font color="red">{{etbl.userid}}</font>
                    </td>
                </tr>
        
                <tr>
                    <td>パスワード</td>
                    <td>
                        <input class="text" name="userps" value="{{rec.userps}}">
                    </td>
                    <td>
                        <font color="red">{{etbl.userps}}</font>
                    </td>
                </tr>
            </table>
        
            <br>
            <button type="submit" class="login_button">ログイン</button>
        </form>
        
    </div>
</div>
{% endblock %}