{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-container">
        <div class="login_text">
            <h2>ログインページ</h2>
        </div>
        <p>アカウントをお持ちの方は、こちらからログイン</p>

        <form action="/loginck" method="POST">
            <table>
                <tr>
                    <td>ユーザーID</td>
                    <td>
                        <input type="text" name="userid" value="{{ rec.userid if rec.userid is defined else '' }}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="error-message">{{ etbl.userid if etbl.userid is defined else '' }}</span>
                    </td>
                </tr>

                <tr>
                    <td>パスワード</td>
                    <td>
                        <input type="password" name="userps" value="{{ rec.userps if rec.userps is defined else '' }}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="error-message">{{ etbl.userps if etbl.userps is defined else '' }}</span>
                    </td>
                </tr>
            </table>

            <label class="checkbox-label">
                <input type="checkbox" name="save_email"> メールアドレスを保存
            </label>

            <br>
            <input class="login_button" type="submit" value="ログイン">
        </form>
    </div>
</div>
{% endblock %}