{% extends "base.html" %}

{% block title %} cars {% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/destyle.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/matchtop.css') }}">
{% endblock %}

{% block content %}
<section id="match_top_content">
    <h1 id="title">理想の車とマッチング！</h1>

    <div id="match_main">
        <ul id="charactor">
            <li>
                <div id="sd_charactor">
                    <img src="../static/image/sd_charactor.png" alt="">
                </div>
            </li>
            <li>
                <div id="fukidashi">
                    <img src="../static/image/fukidashi.png" alt="">
                    <div id="comment">
                        <h2>こんにちは！</h2><br>
                        <h2>今日はどんな車をお探しですか？</h2>
                    </div>
                </div>
            </li>
        </ul>

        <ul id="choices">
            <li>
                <form action="/match_ages" method="post">
                    <input type="text" value="Celibate" class="select" name="type">
                    <button type="submit">
                        <img src="../static/image/376515.png" alt="">
                        <h2>はじめて車を買う！</h2>
                    </button>
                </form>
            </li>
            <li>
                <form action="/match_ages" method="post">
                    <input type="text" value="Family" class="select" name="type">
                    <button type="submit">
                        <img src="../static/image/376515.png" alt="">
                        <h2>家族と一緒に選ぶ！</h2>
                    </button>
                </form>
            </li>
            <li>
                <form action="/match_ages" method="post">
                    <input type="text" value="Luxury" class="select"  name="type">
                    <button type="submit">
                        <img src="../static/image/376515.png" alt="">
                        <h2>高級な一台が欲しい！</h2>
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div id="guide">
        <img src="../static/image/付箋A.png" alt="">
        <div>
            <h2>つかいかたガイド</h2>
            <p></p>
        </div>
    </div>
</section>
{% endblock %}