{% extends "base.html" %}

{% block title %} cars {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match.css') }}">
{% endblock %}

{% block content %}

<h1>理想の車とマッチング！</h1>

<div>
    <img src="../static/image/sd_charactor.png" alt="">
</div>
<div>
    <img src="../static/image/fukidashi2.png" alt="">
</div>

<div>
    <ul>
        <li>
            <form action="" method="get">

            </form>
        </li>
        <li>
            <form action="" method="get">

            </form>
        </li>
        <li>
            <form action="" method="get">
                
            </form>
        </li>
    </ul>
</div>

{% endblock %}