{% extends "base.html" %}

{% block title %} cars {% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/destyle.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/match.css') }}">
{% endblock %}

{% block content %}

<h1 id="title">理想の車とマッチング！</h1>

<div id="match_main">
    <div class="match_content">
        <form action="" method="get">
            <ul id="charactor">
                <li>
                    <div id="sd_charactor">
                        <img src="../static/image/sd_charactor.png" alt="">
                    </div>
                </li>
                <li>
                    <div id="fukidashi">
                        <img src="../static/image/fukidashi.png" alt="">
                        <div id="comment">
                            <h2>まずはあなたの年齢と性別を</h2><br>
                            <h2>教えてください！</h2>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="gender_and_age">
                <li>
                    <select name="" id="gender">
                        <option value="male"><p>男</p></option>
                        <option value="female"><p>女</p></option>
                    </select>
                </li>
                <li>
                    <select name="" id="age">
                        <option value="1"><p>18~25</p></option>
                        <option value="2">26~35</option>
                        <option value="3">36~45</option>
                        <option value="4">46~65</option>
                        <option value="5">66~</option>
                    </select>
                </li>
            </ul>
        </form>
    </div>

    <div class="match_content">
        <form action="" method="get">
            <ul id="charactor">
                <li>
                    <div id="sd_charactor">
                        <img src="../static/image/sd_charactor.png" alt="">
                    </div>
                </li>
                <li>
                    <div id="fukidashi">
                        <img src="../static/image/fukidashi.png" alt="">
                        <div id="comment">
                            <h2>まずはあなたの年齢と性別を</h2><br>
                            <h2>教えてください！</h2>
                        </div>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="checkbox" name="" id="">
                </li>
                <li>
                    <input type="checkbox" name="" id="">
                </li>
                <li>
                    <input type="checkbox" name="" id="">
                </li>
            </ul>
        </form>
    </div>
</div>

{% endblock %}