{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
{% endblock %}

{% block content %}
<div class="top">
    <img src="/static/image/return.png" alt="">
    <h1>マイページ</h1>
</div>
<div class="avatar-container">
    <img src="{{ session['userimg'] }}" class="usimg" id="userAvatar">
</div>
<div class="my_page">
    <p >{{ session['usname'] }}</p>
    <p >{{ session['useremail'] }}</p>
    <p >{{ session['userphone'] }}</p>
    <p >{{ session['userage'] }}歳</p>
    <p >{{ session['usergender'] }}性</p>
    <p >{{ session['userbirthday'] }}</p>
</div>
{% endblock %}