{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
{% endblock %}

{% block content %}
<div class="top">
    <img src="/static/image/return.png" alt="">
    <h1>マイページ</h1>
</div>
<div class="avatar-container">
    <img src="{{ session['userimg'] }}" class="usimg" id="userAvatar">
</div>
<div class="my_page">
    <p >氏名:{{ session['usname'] }}</p>
    <p >E-mail:{{ session['useremail'] }}</p>
    <p >連絡:{{ session['userphone'] }}</p>
    <p >年齢:{{ session['userage'] }}歳</p>
    <p >性別:{{ session['usergender'] }}性</p>
    <p >{{ session['userbirthday'] }}生まれ</p>
</div>
<div class="aisya">
    <label for="comment">あなたの愛車について</label>
    <img src="../static/image/付箋B.png" alt="">
</div>
<div class="kininaru">
    <p>あなたの気になる車</p>
    <ul>
        <li><img src="/static/image/376515.png" alt=""></li>
        <li><img src="/static/image/376515.png" alt=""></li>
    </ul>
</div>
{% endblock %}