<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>質問画面1</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='image/LOGO.png') }}" alt="Logo">
        </div>
    </header>
    <main>
        <h1>理想の車とマッチング！</h1>
        <ul>
            <li>
                <div class="">
                    <a href="">初めて車を買う！</a>
                </div>
            </li>
            <li>
                <div class="">
                    <a href="">家族と一緒に車を買う</a>
                </div>
            </li>
            <li>
                <div class="">
                    <a href="">ラグジュアリーな一台を買う!</a>
                </div>
            </li>
        </ul>
        <h3>使い方ガイド</h3>
    </main>
</body>
</html>